.floating {
    animation: floating 6s ease-in-out infinite;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(0px);
}

@keyframes floating {
    0% {
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
        transform: translateY(0);
    }
    50% {
        box-shadow: 0 25px 15px 0 rgba(0, 0, 0, 0.2);
        transform: translateY(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
        transform: translateY(0);
    }
}
