/*Mobile*/
@media (max-width: 800px) {
    nav {
        width: 100%;
    }

    nav ul {
        flex-direction: row;
    }

    nav ul li {
        display: inline-block;
    }
}

/*Desktop*/
@media (min-width: 800px) {
    article {
        min-width: 500px;
    }

    nav ul li {
        display: block;
    }
}

